/* Ervoor zorgen dat de pagina mooi aansluit van boven tot onder */
  *{
    margin: 0px;
   }

/* Achtergrond instellen */
body {
    background: linear-gradient(60deg, #1beb59, #4cd2d6);
    background-size: cover;
    background-position:center;
    font-family: "sans-serif";
    min-height: 100%;
   
    /* Animatie voor achtergrond */
    /* -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; */
}

/* Animatie voor achtergrond */
/* @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
 }
 @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
 }
 @keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
   100%{background-position:0% 50%}
 } */

/* Zorgen dat de text in het midden staat (index text en navbar) */
.center {
    text-align: center;
}

/* Witte valk in het midden van de pagina opmaken */
.container {
  justify-content: center;
  background: white;
  width: 60%;
  margin: 0 auto;
  position: relative;
}

/* Opmaak van de titel op elke pagina */
.title {
    color: #2196F3;
    font-size: 3.5em;
    font-family: 'Calibri Light';
    margin-bottom: 0.5em;
   }


/* .image-responsive {
    width: 100%;
    height: auto;
} */

/* Background image hz_logo.png op index */
.noFilter {
    background-image: url('Image/HZ_logo.png');
    width: 100%;
    height: 20em;
    background-size: 30% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.accordionImage {
    width: 100%;
    height: 8em;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Groepsfoto op HBO-I beurs */
.groupImage {
    background-image: url('Image/group.jpg');
    background-size: 35% auto;
    padding-top: 8em;
}

/* Foto van technieken Rockstars IT */
.flyerImage {
    background-image: url('Image/flyer.jpg');
    background-size: 25% auto;
    padding-top: 6em;
}

/* Foto van Ricardo in Rotterdam Hall */
.selfieImage {
    background-image: url('Image/selfie.jpg');
    background-size: 25% auto;
    padding-top: 8em;
}

/* Foto van voorgevel business trade-center Rotterdam */
.tradeCenterImage {
    background-image: url('Image/tradeCenter.jpg');
    background-size: 25% auto;
    padding-top: 8em;
}

/* Selfie met de groep */
.groupSelfieImage {
    background-image: url('Image/groupSelfie.jpg');
    background-size: 25% auto;
    padding-top: 8em;
}

/* Foto van binnen het beursgebouw in Rotterdam */
.insideCenterImage {
    background-image: url('Image/insideCenter.jpg');
    background-size: 20% auto;
    padding-top: 8em;
}

/* Foto van bovenaf HBO-I Beurs Rotterdam
.studentsImage {
    background-image: url('Image/students.jpg');
    background-size: 20% auto;
    padding-top: 8em;
} */

/* Foto sorteerproces Omoda Zierkzee */
.omodaImage {
    background-image: url('Image/omoda.jpg');
    background-size: 50% auto;
    padding-top: 6em;
}

/* Foto van Yoursurprise Zierkzee */
.yoursurpriseImage {
    background-image: url('Image/yoursurprise.jpg');
    background-size: 45% auto;
    padding-top: 6em;
}

/* Foto van Syntess Zierkzee */
.syntessImage {
    background-image: url('Image/syntess.jpg');
    background-size: 45% auto;
    padding-top: 6em;
}

/* Foto van CarCollect Goes */
.carcollectImage {
    background-image: url('Image/carcollect.jpg');
    background-size: 45% auto;
    padding-top: 6em;
}

/* Foto van Colijn IT Goes */
.colijnImage {
    background-image: url('Image/colijn.jpg');
    background-size: 45% auto;
    padding-top: 6em;
}


/* Bij hoveren over fotos een beetje transparant maken (profile) */
img:hover {
    opacity: 0.4;
    filter: alpha(opacity=50);}

/* Opmaak van alle h2 elementen */
h2 {
    font-size: 35px;
}

/* Opmaak van alle paragrafen */
p {
    font-size: 18px;
}

/* Opmaak van alle ul elementen */
ul {
    list-style-type: none;
    background-color: #FFC940;
    border: 2px solid #CC8614;
    /* display: block; */
    overflow: hidden;
    width: 55%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 20px;
}

/* Zorgen dat de buttons niet onder elkaar staan, maar naast elkaar (vanaf links) */
ul.topnav li {
    float: left;
}

/* Zorgen dat de randen van de button waarover je hovert afgerond zijn */
ul.topnav li a {
    border-radius: 15px 15px 15px 15px;
}

/* @media screen and (max-width: 60px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
} */


li a {
    color:#2196F3;
    padding: 0.5em;
}

/* Textkleur bij hoveren veranderen */
li a:hover {
    color: green;
}

/* Achtergrondkleur bij hoveren veranderen */
li a:hover:not(.active) {
    background-color: #CC8614;
    text-decoration: none;
}

/* Zorgen dat de button een beetje omlaag gaat bij aanklikken */
li a:active {
   box-shadow: 0 5px #CC8614;
}

/* Zorgen dat tabellen in het midden van de pagina staan */
table {
    margin: auto;
}

/* Zorgen dat de even rijen een aparte kleur hebben */
tr:nth-child(even) {
    background-color: #f2f2f2
}

/* Lettertype van inhoud tabel instellen */
.resultaten {
    font-size: 13px;

}

/* Opmaak vetgedrukt */
.bold {
    font-weight: bold
}

/* Tekstkleur rood */
.status-negative {
    color: red
}

/* Tekstkleur groen */
.status-positive {
    color: lightgreen;
}

/* Tekstkleur wit */
.white {
    color: white;
    font-size: 5px;
}

/* Opmaaak voor de footer */
footer {
    font-style: italic;
    color: white;
    width: 100%;
    padding-top: 10%;
   }

/* Opmaak van de tabel in de footer */
footer table{
    background: #131217;
    width: 100%;
    height: 5em;
}

/* Breedte van de kolommen in de footer */
footer td{
    width: 33.3%;
}

/* Positie van content linker kolom aan linkerkant van footer */
.first{
    text-align: left;
}

/* Positie van content middelste kolom midden in de footer */
.second{
    text-align: right;
}

/* Positie van FB icoon rechter kolom aan rechterkant footer */
.third a{
    float: right;
}

/* Opmaak van link naar mailadres */
.maillink {
    text-decoration: none;
    color:#2196F3;
}

/* Bij hoveren over maillink tekst verkleuren */
.maillink:hover {
    text-decoration: none;
    color: white;
}

/* Opmaak go to top button */
.buttontop {
    display: none;
    position: fixed;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #FFC940;
    color: #2196F3;
    cursor: pointer;
    padding: 15px;
    bottom: 20px;
    right: 30px;
    border-radius: 5px;
  }
  
/* Verkleuring go to top button bij hoveren */
.buttontop:hover {
    background-color:#CC8614;
    color: green;
  }

/* Verkleuren bij aanklikken go to top button */
.buttontop:active {
    background-color: #FFC940;
    box-shadow: 0 100px #CC8614;
 }

.button {
      justify-content: center;
      margin-bottom: 2em;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .btn {
    background-color: #2196F3;
    color: white;
    font-size: 25px;
    border: none;
    outline: none;
}
.btn p{
    padding: 0.88rem;
    font-size: 14px;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btn {
    background-color: #0b7dda;
}

   /* Alle th elementen in de tabel een specifieke achtergrondkleur geven */
.studiewijzer th {
       background-color: #2196F3;
       border: 2px solid #2196F3;
       margin-top: 20px;
   }

/* th {
       margin-bottom: 10px;
   }  */

   /* Opmaak accordion in motivatie */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 20px;
}

/* Achtergrondkleur bij hoveren motivatieblokjes */
.active, .accordion:hover {
    background-color: #FFC940;
}

/* Icoontje na dichtklikken motivatieblokje */
.accordion:after {
    content: '\002B';
    color: #CC8614;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

/* Icoontje na openklikken motievatieblokje */
.active:after {
    content: "\2212";
}

/* Achtergrond in accordion motivatie */
.panel {
    padding: 0 18px;
    background-color: rgb(253, 237, 215);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

/* Schuingedrukte machten boven letters voor bronvermelding */
sub {
    vertical-align: super;
    font-size: smaller;
    font-style: italic;
    font-size: 14px;
}

/* kleur van links in bronnenlijst */
a {
    text-decoration: none;
    color:#2196F3;
}

/* kleur van link in bronnenlijst bij hoveren */
a:hover {
    text-decoration: underline;
    color: blue
}

/* highlighten van woorden of woordgroepen */
span {
    color:  #CC8614;
}